@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

#pied_page {
left: 0; 
right: 0;
margin:0;
padding:0;
position:absolute;
bottom:0px;
alignment-adjust:middle;
font-size: 18px;
font-family: "Open Sans";
text-align: center;
}

#centrer_boutique {
	text-align: center;
	margin: 0;
	font-size: 30px;
}

IMG.center {
    display: block;
    margin-left: auto;
    margin-right: auto }
